@tailwind base;
@tailwind components;
@tailwind utilities;

.font-body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.shadow-sidebar{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.12);
}

@media (max-width: 950px) {
    .container {
      padding: 0.5rem;
    }
    .calendar {
      min-width: 650px;
    }
    .tag {
      max-width: 650px;
    }
    .overflow-x-auto {
      overflow-x: auto;
      overflow-y: hidden;
      -webkit-overflow-scrolling: touch;
    }
    .grid-cols-7 {
      grid-template-columns: repeat(7, minmax(0, 1fr));
    }
    .grid-cols-7 {
      width: 100%;
      /* max-width: calc(100% / 1.4); */
      margin: 0;
    }
  }